
*.class

# Package Files #
*.dex
*.war
*.ear
*.apk
bin/
bin
gen/
release/
release
gen
build/
build
.metadata/
.metadata
.gradle/
.gradle
.idea/
.idea
*.project
.DS_Store
target/

*.iml
*.properties
app/app.iml

*.md