<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ohi.andre.consolelauncher">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"  />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:description="@string/help_flash"
        android:label="@string/help_flash"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <!-- features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Custom.Solid">

        <provider
            android:name=".tuils.GenericFileProvider"
            android:authorities="${applicationId}.FILE_PROVIDER"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".LauncherActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".tuils.stuff.PolicyReceiver"
            android:description="@string/admin_permission"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policy" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".managers.notifications.KeeperService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".managers.music.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".commands.tuixt.TuixtActivity"
            android:excludeFromRecents="true"
            android:label="@string/tuixt_label"
            android:noHistory="true"
            android:theme="@style/Custom.Solid"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <data android:mimeType="text/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.js"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.htm"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.html"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.xhtml"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.php"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.ini"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.sh"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.log"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.db"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.conf"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.cfg"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.txt"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.xml"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <service
            android:name=".managers.notifications.NotificationService"
            android:label="@string/notification_reader"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".managers.notifications.NotificationMonitorService" />

        <activity
            android:name=".tuils.stuff.FakeLauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>